@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family:'Nunito';
        src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
        font-display:swap;
        font-style:normal;
    }
    @font-face {
        font-family:'Nunito';
        src: url('/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
        font-display:swap;
        font-style:italic;
    }
    body{
        background-color:#1a1a1a;
        heigth:100vh;
    }

    .border-gradient {
        border: 10px solid;
        border-image-slice: 1;
        border-width: 3px;
          border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
      }
      .border-gradient-purple {
      }

      html{
          scroll-behavior:smooth;
      }
}
